<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @evaluation.score %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @evaluation.comment %>
</p>

<p>
  <strong>Project:</strong>
  <%= @evaluation.project.name %>
</p>

<p>
  <strong>Team member:</strong>
  <%= @evaluation.team_member.user.email %>
</p>

<%= link_to 'Back', root_path %>
