<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.course_id %></td>
        <td><%= link_to 'Show', course_team_path(course_id: team.course_id, id: team.id) %></td>
        <td><%= link_to 'Edit', edit_course_team_path(course_id: team.course_id, id: team.id) %></td>
        <td><%= link_to 'Destroy', course_team_path(course_id: team.course_id, id: team.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_course_team_path(course_id: params[:course_id]) %> |
<%= link_to 'Back', course_path(id: params[:course_id]) %>