<%= form_with(model: team_member_project_score, local: true) do |form| %>
  <% if team_member_project_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_member_project_score.errors.count, "error") %> prohibited this team_member_project_score from being saved:</h2>

      <ul>
        <% team_member_project_score.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :team_member_id %>
    <%= form.text_field :team_member_id %>
  </div>

  <div class="field">
    <%= form.label :project_team_id %>
    <%= form.text_field :project_team_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
