<h2><%= @team.name %> <%= @project.name %> Scores</h2>

<h3><%= @member.user.email %> </h3>

<%= render 'form', {team_member_project_score: @team_member_project_score, path: course_project_project_team_team_member_project_score_path(course_id: params[:course_id], project_id: params[:project_id], project_team_id: params[:project_team_id], id: @team_member_project_score.id) }%>

<%= link_to 'Back', course_project_project_team_team_member_project_scores_path(course_id: params[:course_id], project_id: params[:project_id], project_team_id: params[:project_team_id] ) %>
