<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<div class="dropdown">
  <% Course.all.each do |course| %>
    <button class="dropbtn">
    <%= link_to course.name, course_path(id: course.id) %>
    </button>
    <% if course.id == params[:course_id] %>
      <div class="dropdown-content">
        <%= link_to "Evaluations" %>
        <%= link_to "Projects" %>
        <%= link_to "Rosters" %>
        <%= link_to "Teams" %>
      </div>
    <% end %>
  <% end %>
</div> 

