<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Due</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.due %></td>
        <td><%= link_to 'Show', course_project_path(course_id: project.course_id, id: project.id) %></td>
        <td><%= link_to 'Edit', edit_course_project_path(course_id: project.course_id, id: project.id) %></td>
        <td><%= link_to 'Destroy', course_project_path(course_id: project.course_id, id: project.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_course_project_path(course_id: params[:course_id]) %>
<%= link_to 'Back', course_path(id: params[:course_id]) %>
