<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Averages</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Course Average:</td>
      <td>
      <% sum = 0 %>
      <% count = 0 %>
      <% roster = CourseRoster.where(course_id: @course.id) %>
      <% roster.each do |roster_entry| %>
        <% scores = TeamMemberProjectScore.where(team_member_id: roster_entry.user_id) %>
        <% scores.each do |score| %>
          <% sum = sum + score.score %>
          <% count += 1 %>
        <% end %>
      <% end %>
      <% average = sum.to_f / count.to_f %>
      <%= average %>
      </td>
    </tr>
    <tr>
      <td>Evaluation Average:</td>
      <td>
        <% sum = 0 %>
        <% evaluations = Evaluation.joins(:project).where(projects: { course_id: @course.id }) %>
        <% evaluations.each do |eval| %>
          <% sum = sum + eval.score %>
        <% end %>
        <% average = sum.to_f / evaluations.length.to_f %>
        <%= average.round(2) %>
      </td>
    </tr>
  </tbody>
</table>

<div class="w3-row-padding">
  <div class="w3-half w3-margin-bottom">
    <h2>Teams</h2>
    
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <%  @course.teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td>
              <%= link_to 'Edit', course_team_path(course_id: team.course_id, id: team.id) %>
              <%= link_to 'Evaluations', course_team_evaluations_path(course_id: team.course_id, team_id: team.id) %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <ul>
                <% team.team_members.each do |member| %>
                  <li><%= member.course_roster.user.email %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="w3-half w3-margin-bottom">
    <h2>Projects</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Due</th>
          <th colapsn="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @course.projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.due %></td>
            <td><%= link_to 'Edit', course_project_path(course_id: @course.id, id: project.id) %></td>
            <td><%= link_to 'Evaluations', course_project_evaluations_path(course_id: @course.id, project_id: project.id) %></td>
          </tr>
          <tr>
            <td colspan="3">
              <ul>
                <% project.project_teams.each do |pt| %>
                  <li>
                    <%= pt.team.name %> | 
                    <%= link_to "Evaluations (#{pt.evaluations.length})", course_project_project_team_evaluations_path(course_id: @course.id, project_id: project.id, project_team_id: pt.id ) %> |
                    <%= link_to "Scores (#{pt.team_member_project_scores.length})", course_project_project_team_team_member_project_scores_path(course_id: @course.id, project_id: project.id, project_team_id: pt.id ) %>
                    </li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>