<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<ul>
  <li><%= link_to 'Projects', course_projects_path(course_id: params[:id]) %></li>
  <li><%= link_to 'Teams', course_teams_path(course_id: params[:id]) %></li>
  <li><%= link_to 'Roster', course_course_rosters_path(course_id: params[:id]) %></li>
</ul>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
