<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Averages</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Course Average:</td>
      <% sum = 0 %>
      <% roster = CourseRoster.where(course_id: @course.id) %>
      <% roster.each do |roster_entry| %>
        <% scores = TeamMemberProjectScore.where(user_id: roster_entry.user_id) %>
        <%  %>
      <% end %>
      <td></td>
    </tr>
    <tr>
      <td>Evaluation Average:</td>
      <td>
        <% sum = 0 %>
        <% evaluations = Evaluation.joins(:project).where(projects: { course_id: @course.id }) %>
        <% evaluations.each do |eval| %>
          <% sum = sum + eval.score %>
        <% end %>
        <% average = sum.to_f / evaluations.length.to_f %>
        <%= average.round(2) %>
      </td>
    </tr>
  </tbody>
</table>

<ul>
  <li><%= link_to 'Evaluations', course_evaluations_path(course_id: params[:id]) %></li>
  <li><%= link_to 'Projects', course_projects_path(course_id: params[:id]) %></li>
  <li><%= link_to 'Teams', course_teams_path(course_id: params[:id]) %></li>
  <li><%= link_to 'Roster', course_course_rosters_path(course_id: params[:id]) %></li>
</ul>

<h2>Teams</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%  @course.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td>
          <%= link_to 'Edit', course_team_path(course_id: team.course_id, id: team.id) %>
          <%= link_to 'Evaluations', course_team_evaluations_path(course_id: team.course_id, team_id: team.id) %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <% team.team_members.each do |member| %>
              <li><%= member.course_roster.user.email %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Projects</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Due</th>
      <th colapsn="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.due %></td>
        <td><%= link_to 'Edit', course_project_path(course_id: @course.id, id: project.id) %></td>
        <td><%= link_to 'Evaluations', course_project_evaluations_path(course_id: @course.id, project_id: project.id) %></td>
      </tr>
      <tr>
        <td colspan="3">
          <ul>
            <% project.project_teams.each do |pt| %>
              <li><%= pt.team.name %> | <%= link_to 'Evaluations', course_project_project_team_evaluations_path(course_id: @course.id, project_id: project.id, project_team_id: pt.id ) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
