<!DOCTYPE html>
<html>
  <head>
    <title>TeamThreeProject6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64">Evaluations</h3>
      </div>
      <div class="w3-bar-block">
        <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
        <% if current_user %>
          <% is_faculty = false %>
          <% Faculty.all.each do |faculty| %>
            <% if current_user.id == faculty.user_id %>
              <% is_faculty = true %>
            <% end %>
          <% end %>
          <% if current_user.admin || is_faculty %>
            <%= render "partials/nav"%>
          <% end %>
        <% end %>
      </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Evaluations</span>
    </header>
    
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
      <%= render "partials/login"%>

      <% if current_course %>
        <h1><%= current_course.name %></h1>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
